header{
    background-color: coral;
}
div.grid{
    width: 700px;
    height: 700px;
    border: 1px solid blue;
}
div.square{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid red;
}